<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">Management Team</h2>
        <table>
            <tr>
                <td><img src="assets\Images\AbhishekDP.jpeg" alt=""></td>
                <td>
                    <h4>Abhishek Maheshwari</h4>
                    <a href="abhishek27082000@gmail.com">abhishek27082000@gmail.com</a>
                    <p>Abhishek Maheshwari has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\aditiDP.jpg" alt="Image"></td>
                <td>
                    <h4>Aditi Singh</h4>
                    <a href="aditishasha2719@gmail.com">aditishasha2719@gmail.com</a>
                    <p>Aditi Singh has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\PradyumnDP.jpeg" alt="Image"></td>
                <td>
                    <h4>Pradyuman Agrawal</h4>
                    <a href="papradyumnagrawal48@gmail.com">papradyumnagrawal48@gmail.com</a>
                    <p>Pradyumn Agarwal has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\AchyutDP.jpeg" alt="Image"></td>
                <td>
                    <h4>Achyut Tripathi</h4>
                    <a href="tripathiachyut2002@gmail.com">tripathiachyut2002@gmail.com</a>
                    <p>Achyut Tripathi has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Praveen</h4>
                    <a href="/">Email</a>
                    <p>Praveen has been working as a developer for Buswale since 2022.</p>
                </td>
            </tr>
        </table>
    </div>
</div>