
    <br><br><br>
    <body>
        <div>
            
            <br><br>
            
                <table class ="content-table">
                    
                   
                    <thead>
                       <tr>
                           <th>S.no.</th>
                           <th>Age</th>
                           <th>Name</th>
                           <th>Location from</th>
                           <th>Location to</th>
                           <th>Date of travel</th>
                       </tr>
                    </thead> 
                <tbody >
                        <tr *ngFor="let passenger of passengers ;index as i;">
                            <td>
                                {{i}}
                            </td>
                            <td>
                                {{passenger.age}}
                            </td>
                            <td>
                                {{passenger.name}}
                            </td>
                          
                            <td>
                                {{passenger.source}}
                            </td>
                            <td>
                                {{passenger.destination}}
                            </td>
                            <td>
                                {{passenger.seatnumber}}
                            </td>
                            <td>
                                <button class = "btn btn-danger" style="margin-left: 10px" (click)="Delete(passenger.ticketID)"> Delete</button>
                           </td>

                        </tr>
                    </tbody>
                </table>
               <br>
               <br>
               <br>
               <br>
               
              
              
              
            
        </div>
    </body>




