   <div class="feedback-body">
   <div class="container">
     <h1>Provide us your helpful feedback</h1>
      <div class="post" [hidden]="!display">
        <div class="text">Thanks for rating us!</div>
        <div class="edit">EDIT</div>
      </div>
      <div class="star-widget">
        <input type="radio" name="rate" id="rate-5">
        <label for="rate-5" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-4">
        <label for="rate-4" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-3">
        <label for="rate-3" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-2">
        <label for="rate-2" class="fas fa-star"></label>
        <input type="radio" name="rate" id="rate-1">
        <label for="rate-1" class="fas fa-star"></label>
        
        <div id = "form">
        <div class="msg" >
          <header></header>
        </div>
          <div class="textarea" >
            <textarea cols="30" placeholder="Describe your experience.."></textarea>
          </div>
          <div class="btn">
            <button type="button" (click)="onPost()">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
